.middle {
    text-align: center;
}

ul {
    display: inline-block;
    margin: -10px;
    text-align: left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: red;
    color: white;
    background-color: darkgray;
}
