body {
    color: rgb(49, 30, 0);
    background-color: rgb(193, 252, 145);
}

img {
    width: 50%;
}

#outputs {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 5px;
}

form {
    border: 5px dashed black;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}